@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  @apply hover:text-slate-300 hover:scale-95 duration-500;
}

.btn {
  @apply rounded-md py-2 px-4;
}

.btn-primary {
  @apply btn bg-primary text-white;
}

.btn-primary-outline {
  @apply py-2 px-4 rounded-[2rem] border border-primary text-primary font-semibold hover:bg-primary hover:text-white duration-500;
}

.btn-secondary {
  @apply btn bg-slate-600 text-white;
}

.scrollable {
  @apply overflow-scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.delivery input {
  @apply w-full border-2 border-gray-200 py-1 px-3 rounded-md;
}

.delivery label {
  @apply font-semibold mt-1;
}

.delivery input:focus {
  @apply outline-none border-gray-500;
}
